<ion-view view-title="Home">
  <ion-content class="hehe">
    <!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<div class="list card">
  <label class="item item-input">
    <textarea placeholder="comments here..."></textarea>
  </label>
  <button class="button button-small"> add comments</button>
  </div>
 </div>

  <div class="list card">
  <div class="item item-avatar">
    <img src="img/Census1.png">
    <h2>Census Together We Count</h2>
    <p>September 18, 2015</p>
  </div>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/Census1.png">
    <p>
     The fundamental purpose of the census at a glance:
      • Provide the facts essential to government for policy-making, planning and
      administration.
      • Decision-making that facilitates the development of socio-economic policies -enhance the welfare of the population.
      • Provides important data for the analysis and appraisal of the changing
      patterns of rural/urban movement and concentration, the development of
      urbanized areas, geographical distribution of the population according to
      such variables as occupation and education, as well as the socio-economic
      characteristics of the population and the labor force.
      • Aids in the decision-making processes of the private sector. Population size
      and characteristics influence the location of businesses and services that
      satisfy the needs of the target population.
      • Population censuses also constitute the principal source of records for use
      as a sampling frame for the household surveys during the years between
      censuses.
    </p>
  </div>
  <ion-list>
   <!-- <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle> -->
    </ion-list>
  </ion-content>
</ion-view>
