<ion-view view-title="Census Population Status">
   <ion-header-bar>
        <h2>Census Population Status</h2>
    </ion-header-bar>
  <ion-content class="lagi">
    <a class="button" href="#/app/menu">
    Back
    </a>
  <div class="list card">
  <div class="item item-avatar">
    <img src="img/gr.jpg">
    <h2>Census Together We Count</h2>
    <p>September 18, 2015</p>
  </div>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/sus.jpg">
  </div>
  
    </ion-list>
  </ion-content>
</ion-view>
