<ion-view view-title="Home">
  <ion-content class="hehe">
    <!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

  <div class="list card">
    <div class="item item-avatar">
      <img src="img/Census1.png">
      <h2>Census Together We Count</h2>
    </div>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/Census1.png">
  </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    
    <div class="tabs tabs-icon-only">
      <a href="#/app/welcome" class="tab-item" menu-close>
      <i class="icon ion-home"></i>
       </a>
       <a href="#/app/about" class="tab-item" menu-close>
      <i class="ion-ios-book"></i>
      </a>
      <a href="#/app/census" class="tab-item" menu-close>
      <i class="icon ion-star"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
