<ion-view view-title="Survey Household">
  <ion-content class="household">
    <a class="button" href="#/app/menu">
    Back
    </a>

<br /> <br />
   <div class="item positive item-divider" id="housepage1" >
     <div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">1.What type of accommodation does your household occupy?</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>



     <div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">2. When was your house, flat or apartment first built?</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>


     <div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">3. Does your household own or rent you accommodation?</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>

     <div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">4. If your accommodation is rented, how much rent does your household pay?</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>


<center>
        <!--<i class="ion-android-arrow-dropleft" style="font-size:50px;margin-right:10px"></i>-->
        <a class="button ion-android-arrow-dropleft" style="font-size:50px;margin-left:10px"></a>
        <a ng-click="showPage(2)" class="button ion-android-arrow-dropright" style="font-size:50px;margin-left:10px"></a>
     </center>



<br /> <br />
   <div class="item positive item-divider" id="housepage2" >
     <div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">5. How many rooms do you have for use only by your household?</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>

 <div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">6.What is the main type of fuel used by the central heating in your accommodation?</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>

     <div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">7.What type of piped water supply does your accommodation have?</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>

     <div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">8.What type of sewerage facility does your accommodation have?</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>



<center>
        <!--<i class="ion-android-arrow-dropleft" style="font-size:50px;margin-right:10px"></i>-->
        <a class="button ion-android-arrow-dropleft" style="font-size:50px;margin-left:10px"></a>
        <a ng-click="showPage(2)" class="button ion-android-arrow-dropright" style="font-size:50px;margin-left:10px"></a>
     </center>

<br /> <br />
   <div class="item positive item-divider" id="housepage3" >
     <div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">9. How many cars or vans are owned or are available for use by one or more members of your household?</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>

<div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">10. Does you household have a personal computer (PC)?</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>

     <div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">11. Does your household have access to the Internet?</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>


     <div class="list">
      <br /><br />
     <div class="list">
      <label class="item item-input">
        <span class="input-label">12. Answer questions for each individual person in the household.</span>
      </label>
      <label class="item item-input">
        <i class="ion-edit"></i>
        <input type="text">
        </label>
      <br />
     </div>
     <center>
        <!--<i class="ion-android-arrow-dropleft" style="font-size:50px;margin-right:10px"></i>-->
        <a class="button ion-android-arrow-dropleft" style="font-size:50px;margin-left:10px"></a>
        <a ng-click="showPage(2)" class="button ion-android-arrow-dropright" style="font-size:50px;margin-left:10px"></a>
     </center>
     <br /><br />

  </ion-content>
</ion-view>
