<ion-view view-title="LOGIN">
  <ion-content class="padding c">
    <br /><br />CENSUS 2015
    <section>
      <br /><form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    </section>
  </ion-content>
</ion-view>
