<ion-view view-title="Census data">
  <ion-content>

<div class="list">
  <div class="item positive item-divider">
    A
  </div>

  <a class="item" href="#">
    Amolata, Danilo L.
  </a>
  <a class="item" href="#">
    Alalo, Pedro P.
  </a>
  <a class="item" href="#">
    Asenio, Amalia F.
  </a>
  <a class="item" href="#">
    Ayala, Zenaida W.
  </a>
  <div class="item positive item-divider">
    B
  </div>
   <a class="item" href="#">
  Barretto, Alfonso C.
  </a>
  <a class="item" href="#">
  Balansag, Miguel A.
  </a><a class="item" href="#">
  Barrientos, Nimfa S.
  </a>

  <div class="item positive item-divider">
    C
  </div>

  <a class="item" href="#">
    Calido, Danilo R.
  </a>
  <a class="item" href="#">
    Caballero, Alerian V.
  </a>
  <a class="item" href="#">
    Caballes, Amalia F.
  </a>
  <a class="item" href="#">
    Camayis, Zenaida W.
  </a>
  <a class="item" href="#">
    Cario, Mariano W.
  </a>
  <a class="item" href="#">
    Calye, Serye A.
  </a>

  <div class="item positive item-divider">
    D
  </div>

  <a class="item" href="#">
    Calido, Danilo R.
  </a>
  <a class="item" href="#">
    Caballero, Alerian V.
  </a>
  <a class="item" href="#">
    Caballes, Amalia F.
  </a>
  <a class="item" href="#">
    Camayis, Zenaida W.
  </a>
  <a class="item" href="#">
    Cario, Mariano W.
  </a>
  <a class="item" href="#">
    Calye, Serye P.
  </a>

  <div class="item positive item-divider">
    E
  </div>

  <a class="item" href="#">
    Calido, Danilo R.
  </a>
  <a class="item" href="#">
    Caballero, Alerian V.
  </a>
  <a class="item" href="#">
    Caballes, Amalia F.
  </a>
  <a class="item" href="#">
    Camayis, Zenaida W.
  </a>
  <a class="item" href="#">
    Cario, Mariano W.
  </a>
  <a class="item" href="#">
    Calye, Serye A.
  </a>
  <div class="item positive item-divider">
    F
  </div>
   <a class="item" href="#">
  Barretto, Alfonso C.
  </a>
  <a class="item" href="#">
  Balansag, Miguel A.
  </a><a class="item" href="#">
  Barrientos, Nimfa S.
  </a>


</div>

     <!--< <h1>This Is Rentals</h1>
      <img ng-src="img/bands.jpg"> -->
  </ion-content>
</ion-view>




 <!-- <ion-header-bar class="aim">
      <h1 class="title">CENSUS 2015</h1>
    </ion-header-bar>
     <ion-content>
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links 
              <a href="#/app/playlists" class="item item-icon-left calm" menu-close>
                <i class="icon ion-map"></i> Map view</a>
              <a href="#/app/blogs" class="item item-icon-left calm" menu-close>
                <i class="icon ion-stats-bars"></i> City population status</a>
              <a href="#/app/playlist" class="item item-icon-left calm" menu-close>
                <i class="icon ion-android-document"></i> Census data </a>
              <a href="#/app/browse" class="item item-icon-left calm" menu-close>
                <i class="icon ion-compose"></i> Begin Survey </a>
            </ul>
          </ion-content> -->