<ion-view view-title="Housing & Households">
  <ion-content class="hehe">
    <img class="full-image" src="img/TractMap.jpg">
    	 <p>
     What Is A Census?
    ! A census is an official count of a population carried out at set intervals
    ! Used for:
    o Legislative representation
    o Taxation and funding
    o Analysis of trends
    o Planning
    Understanding the Census
    ! The Federal censuses are the most-used documents used by genealogists
    o Best finding aid of all
    o Primary source to establish a person at a specific place at a point in time
    o Assumed to be ‘definitive proof’
    o Definitely are secondary sources
    o Pointers to other evidence
    Origin of the U.S. Census
    ! The U.S. Constitution (ratified 1789) established the taking of a national census on
    a regular basis
    ! Article I, Section 2, specifically called for a census to be taken every ten years
    ! Direct taxation was based on census
    ! Each free person counted as a whole number, including those bound for service for
    a term of years
    ! Free males would be taxed and could vote
    ! Indians living on treaty land were excluded from direct taxation and voting
    ! Other, non-free persons were to be counted as 3/5s of a free person for
    representation
    ! An Indian who joined white population were to be considered a “free person” and
    could vote
    ! Entire text available at Library of Congress site
    http://memory.loc.gov/const/const.html
    When Were Censuses Taken?
    ! Federal decennial censuses taken 1790 - 2000
    ! A “census day” was established
    ! Enumerators given a deadline which to conduct census and a set of questions to
    ask
    ! Responses to questions were supposed to be based “as of” the census day
    ! Full enumerator instructions and questions are available at
    http://www.ipums.umn.edu/~pipums/doc.html
    </p>
    <!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
	</ion-content>
</ion-view>
