/* Empty. Add your own CSS if you like */
a {
	text-decoration: none;
}
.mao {
	background-color: lightcyan;
	float: left;
	margin-left: -5px;
	padding: 30px;
}
.na {
	background-color: green;
	float: left;
	margin-left: -5px;
	padding: 50px;

}
.cya {
	background-color: #FF9933;
	font-style: italic;
	float: left;
	margin-left: -5px;
	padding: 20px;
}
.hehe {
	background-color: lightcyan;
	font-style: italic;
	float: left;
	margin-left: -5px;
	padding: 10px;
}
.mi {
	background-color: lightcyan;
	float: left;
	margin-left: -5px;
	padding: 20px;
}
.c {
	background-color: lightcyan;
	font-size: 25px;
	text-align: center;
	float: top;
	margin-top: 10px;
}
.section {
	background-color: #FFEAFF;
	display: block;
	height: 300px;
	width: 100%;
	float: top;
	margin-top: 25px;

}
.aim {
	background-color: skyblue;
}
.title {
	color: white;
}
.orayt {
	color: skyblue;
}

