/* Empty. Add your own CSS if you like */
a {
	text-decoration: none;
}
.mao {
	background-color: #E6005C;
	float: left;
	margin-left: -5px;
	padding: 30px;
}
.na {
	background-color: green;
	float: left;
	margin-left: -5px;
	padding: 50px;

}
.cya {
	background-color: #E6005C;
	text-align: justify;
	font-style: italic;
	float: left;
	margin-left: -5px;
	padding: 20px;
}
.hehe {
	background-color: #E6005C;
	font-style: italic;
	float: left;
	margin-left: -5px;
	padding: 10px;
}
.mi {
	background-color: #E6005C;
	float: left;
	margin-left: -5px;
	padding: 20px;
}
.c {
	background-color: #E6005C;
	font-size: 25px;
	text-align: center;
	float: top;
	margin-top: 10px;
}
.section {
	background-color: #FFEAFF;
	display: block;
	height: 300px;
	width: 100%;
	float: top;
	margin-top: 25px;

}
.aim {
	background-color: #E6005C;
}
.title {
	color: white;
}
.orayt {
	color: #E6005C;
}
.mae {
	background-color: #E6005C;
	text-align: center;
	
}
.lou {
	color: dodgerblue;
	font-family: lucida console;
	font-size: 28px;
}
.bblove {
	font-size: 10px;
}
.kaya {
	background-color: #E6005C;
	float: left;
	margin-left: -5px;
	padding: 10px;
}
.lagi {
	background-color: #E6005C;
	float: left;
	margin-left: -5px;
	padding: 10px;
}
.sige {
	background-color: #E6005C;
	float: left;
	margin-left: -5px;
	padding: 10px;
}
.household {
	background-color: #E6005C;
	float: left;
	margin-left: -5px;
	padding: 10px;
}



